body {
  margin: 0;
  overflow: hidden;
  background-color: #3737377a;
  font-family: Arial, Helvetica, sans-serif;
}

.Container {
  position: absolute;
  top: 16px;
  right: 32px;
  z-index: 999;
  left: 32px;
  font-size: 24px;
  display: flex;
  z-index: 999;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.LinksBox {
  position: absolute;
  top: 40%;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  font-size: 50px;
}
.Links {
  color: white;
  text-decoration: none;
  margin-left: 16px;
}

.Links:hover {
  text-decoration: underline;
  color: #727272;
}

.logo {
  pointer-events: none;
}
.Menu-Balken {
  display: none;
  width: 20%;
}


.Menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 70vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
}

.Menu-offen {
  opacity: 1;
  visibility: visible;
  z-index: 990;
}


.Danke h1{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Zain", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 50px;
}

.Danke p {
  position: absolute;
  font-size: 30px;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.button {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: black;
  background-color: transparent;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  cursor: pointer;
}

@media (max-width: 640px) {
  .navigation {
    display: none;
  }
  .Container {
    justify-content: space-between;
  }
  .Menu-Balken {
    display: block;
    cursor: pointer;
  }
}