body {
  margin: 0;
  overflow: hidden;
  background-color: #3737377a;
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}
.Container {
  position: absolute;
  top: 16px;
  right: 32px;
  z-index: 999;
  left: 32px;
  font-size: 24px;
  display: flex;
  z-index: 999;
  align-items: center;
  justify-content: space-between;
}

.Links {
  color: white;
  text-decoration: none;
  margin-left: 16px;
}

.Links:hover {
  text-decoration: underline;
  color: #727272;
}

.logo {
  pointer-events: none;
}
.Menu-Balken {
  display: none;
  width: 20%;
}

.LinksBox {
  position: absolute;
  top: 40%;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  font-size: 50px;
}

.Menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 70vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
}

.Menu-offen {
  opacity: 1;
  visibility: visible;
  z-index: 990;
}
.Flexbox {
  position: absolute;
  top: 40%;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.unterseiten {
  color: white;
  text-decoration: none;
  font-size: 225%;
  transition: 0.2s;
}

.test {
  margin-top: 10%;
}

.Flexbox:hover .unterseiten {
  font-size: 250%;
}

.Flexbox:hover .unterseiten:hover {
  text-decoration: underline;
  color: #727272;
  font-size: 275%;
}

@media (max-width: 640px) {
  .navigation {
    display: none;
  }
  .Container {
    justify-content: space-between;
  }
  .Menu-Balken {
    display: block;
    cursor: pointer;
  }
}